  body {
            background-color: #e4e9ee;
            padding: 50px;
        }
        .btn-container {
            text-align: center;
            margin-bottom: 20px;
           
        }
        .data-container {
            max-width: 600px;
            margin: 0 auto;
            display: none; 
        }